@use "sass:map";
@use "sass:color";

.ui-time-tracker {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  // padding: max(0px, min(8px, calc((100vw - 576px) * -999)));
  width: fit-content;
  max-width: 85%;
  margin: 40px auto;
  background-color: #e9e9e9;
  border-radius: 100px;
}