@use "sass:map";
@import "../../../1-settings/scss/__settings.scss";
@import "../../../2-tools/scss/__tools.scss";

.button-time-tracker {
  display: inline-block;
  height: 2.25em;
  width: min(110px, max(70px, max(6em, calc((576px - 100vw) * -999))));
  text-align: center;
  vertical-align: middle;
  font: normal 500 .75rem map.get($font, "sanserif");
  color: var(--button-legend, #FFFFFF);
  border-radius: 100px;

  &.-pause {
    background: var(--button-pause-color, #B5B5B5);
    margin: .666em .41666em .666em .91666em;
  }

  &.-start {
    background: var(--button-start-color, #5EBEA3);
    margin: .666em 1.333em .666em .91666em;
  }

  &.-stop {
    background: var(--button-stop-color, #FF9984);
    margin: .666em 1.333em .666em .41666em
  }

  &.-inactive {
    display: none;
  }

  &.-active {
    display: inline-block;
  }
}