<ul class="dropdown-submenu -izquierda">
  <li class="submenuOption" data-content="S1">
    <span
      style="font-weight: 800; line-height: 0%; margin: 0; padding: 0 0.5em 0 0"
      >Sesame1</span
    >Kelly Pierce<br /><span
      style="
        font-size: 0.75em;
        line-height: 60%;
        margin: 0;
        color: var(--profile-separator, #b5b5b5);
      "
      >Hoy llevas 00:00</span
    ><a href="#"></a>
  </li>
  <li class="submenuOption" data-content="S2">
    <span
      style="font-weight: 800; line-height: 0%; margin: 0; padding: 0 0.5em 0 0"
      >Sesame1</span
    >Kelly Pierce<br /><span
      style="
        font-size: 0.75em;
        line-height: 60%;
        margin: 0;
        color: var(--profile-separator, #b5b5b5);
      "
      >Hoy llevas 00:00</span
    ><a href="#"></a>
  </li>
</ul>
