<div
  id="time-display"
  class="time-display"
  role="region"
  aria-label="Display de tiempo trabajado y acumulado"
>
  <span
    id="counterWorked"
    class="counter -timeWorked"
    role="timer"
    aria-label="Tiempo trabajado"
    >{{ timeToBeDisplayed.currentWorkedTime }}</span
  >
  <span
    id="counterAcum"
    class="counter -timeAcum"
    role="log"
    aria-label="Tiempo acumulado"
    *ngIf="timeToBeDisplayed.currentWorkedTime !== '00:00:00'"
  >
    {{ timeToBeDisplayed.finalTimeWorked }}
  </span>
</div>
